	
	<div class="container">
		<div class="row">
			<div class="span6 offset3">
				<legend>Fiche Livre<legend>
					
					<table class="table table-hover">  
						<thead>  
							  <tr>  
								<th>Titre</th>  
								<th>Auteur</th>  
								<th>Mots clés</th> 								
							  </tr>  
							</thead>  
							<tbody>  
							  <tr>  
								<td><a href="AfficheLivre.html"> <u> </u></td>  
								<td></td>  
								<td></td>
								<td></td>
							  </tr>  
							  <tr>  
								<td><a href="AfficheLivre.html"> <u> </u></td>  
								<td></td>  
								<td></td>
								<td></td>
							  </tr>  
							  <tr>  
								<td><a href="AfficheLivre.html"> <u> </u></td>  
								<td></td>  
								<td></td>
								<td></td>
							  </tr>  
							</tbody>  
					</table> 
				
			</div>
		</div>	