
<footer>
    <div class="container">
	  		<div class="hero-unit hidden-phone">
                <h4>Micro-projet IHM</h4>
                <h4><ul>
                    <li><a href="https://github.com/amineamanzou/BibliOIuT-Web">Github</a></li>
                    <li><a href="">Contact</a></li>
					 <p class="muted credit">
					 Bibli[O/I]ut© Tous droits réservés 2013. Iut Fbleau <a href=http://www.u-pec.fr/">Universités Paris Est Créteil</a>
					 </p>
                </ul></h4>
			</div>
	</div>
</footer>
</body>
</html>