

<div class="navbar navbar-fixed-bottom">
<div id="footer">
	<legend></legend>
      <div class="container">
                <p class="muted credit">
					 Bibli[O/I]ut© Tous droits réservés 2013. Iut Fbleau <a href=http://www.u-pec.fr/">Universités Paris Est Créteil</a>
                    | <a href="https://github.com/amineamanzou/BibliOIuT-Web">Le projet sur Github</a></li>
                    | Réalisée par Amanzou, Ben Messaoud, Duchateau Bryan, Ralala Jonathan.
                    </p>
      </div>

</div>
</div>

</body>
</html>