
	<div class="container">
		<div class="row">
			<div class="span6 offset3">
					<legend>Recherche livre</legend>
					    <form class="navbar-search pull-left">
						    <input type="text" class="search-query" placeholder="Search">
						</form>
						    <ul class="nav nav-pills nav-stacked">
							    <li class="disabled">...</li>
							    <li class="active">...</li>
							    <li> </li>
							    <li> </li>
							    <li> </li>
							    <li> </li>
							    <li> </li>
							    <li> </li>
							    <li> </li>
							    <li> </li>
    						</ul>
    						<div class="pagination">
	    					<ul>
	    						<li class="disabled"><a href="#">Prev</a></li>
	    						<li class="active"><a href="#">1</a></li>
		    					<li><a href="#">2</a></li>
							    <li><a href="#">3</a></li>
							    <li><a href="#">4</a></li>
							    <li><a href="#">5</a></li>
							    <li><a href="#">Next</a></li>
							</ul>
							</div>
			</div>
	</div>
