	
<div class="container">
		<div class="row">
			<div class="span6 offset3">
					<legend>Recherche Livre</legend>
					
					<table class="table table-hover">  
					    <thead>  
						  <tr>  
							<th>Titre</th>  
							<th>Auteur</th>  
							<th>Mot cl&eacutee</th>  
							<th>Disponibilit&eacute</th>  
						  </tr>  
						</thead>  
						
						<tbody>  
						  <tr>  
							<td><a href="livre1.html"> <u>livre1</u></td>  
							<td>Rammohan </td>  
							<td>comiqe</td>  
							<td> <button type="button" class="btn btn-mini btn-success" >Dispo</button> </td>  
						  </tr>  
						
						  <tr>  
							<td><a href="Timon&Pumba.html"> <u>Timon & Pumba</u></td>  
							<td>Smita</td>  
							<td>oupa</td>  
						   <td> <button type="button" class="btn btn-mini btn-success" >Dispo</button> </td> 
						  </tr>
						  
						  <tr>  
							<td><a href="wooaa.html"> <u>Wooaa</u></td>  
							<td>Rabindranath</td>  
							<td>Sen</td>  
							<td><button type="button" class="btn btn-mini" disabled>Indsipo</button></td>  
						  </tr>
						  
						</tbody>  
					 </table>   
			</div>
		</div>
				
	<div class="container">
		<div class="row">
			<div class="span6 offset3">
				<legend>Recherche &Eacutetudiant<legend>
					
					<table class="table table-hover">  
						<thead>  
							  <tr>  
								<th>&Eacutetudiant</th>  
								<th>Emprunts en cours</th>  
								<th>R&eacuteservations en cours</th>  
							  </tr>  
							</thead>  
							<tbody>  
							  <tr>  
								<td><a href="livre1.html"> <u>TOTO TOTO</u></td>  
								<td>Developper en C </td>  
								<td>Dom Juan</td>  
							  </tr>  
							  <tr>  
								<td><a href="Timon&Pumba.html"> <u>Dupond</u></td>  
								<td>Candid</td>  
								<td>l'avar</td>  
							  </tr>  
							  <tr>  
								<td><a href="wooaa.html"> <u>Pierre</u></td>  
								<td>la princesse de cleve</td>  
								<td>les fables de la fontaines</td>  
							  </tr>  
							</tbody>  
					</table> 
			</div>
		</div>	
</div>